
*.log
UE_Part2/Saved/
UE_Part2/Intermediate/

UE_Part2/Intermediate/CachedAssetRegistry.bin
UE_Part2/Intermediate/CachedAssetRegistry.bin
UE_Part2/Saved/Autosaves/Game/Level1_Auto2.umap
UE_Part2/Saved/Autosaves/PackageRestoreData.json
UE_Part2/Saved/Config/CrashReportClient/UECC-Windows-08AF55FF45A8D4EA84A636AB2678C578/CrashReportClient.ini
UE_Part2/Saved/Config/CrashReportClient/UECC-Windows-AD93F6134A4949BD1A651C8BE7834A61/CrashReportClient.ini
UE_Part2/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
UE_Part2/Saved/Config/WindowsEditor/Engine.ini
UE_Part2/Saved/Logs/UE_Part2-backup-2022.08.22-21.36.37.log
UE_Part2/Saved/Logs/UE_Part2.log
UE_Part2/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
UE_Part2/Saved/AutoScreenshot.png
UE_Part2/Saved/Config/WindowsEditor/Engine.ini
UE_Part2/Saved/Logs/UE_Part2.log
